<h1>Warehouses & Stock</h1>

<h2> Warehouses </h2>
<% @warehouses.each do |w| %>
  <%= link_to(w.name, warehouse_path(w.id)) %>
  <span>Code: <%= w.code %></span>
  <span>City: <%= w.city %></span>
  <span><%= w.area %> m²</span>
<% end %>

<% if @warehouses.empty? %>
  <span>There is no registered warehouses</span>
<% end %>